<kanban-board>
  <kanban-column>
    <kanban-column-header>
      <mat-icon kanbanHeaderIcon>visibility</mat-icon>
      <span>Column 1</span>
    </kanban-column-header>
    <kanban-card>Card 1</kanban-card>
    <kanban-card>Card 2</kanban-card>
    <kanban-card>Card 3</kanban-card>
  </kanban-column>
  <kanban-column>
    <kanban-column-header>
      <mat-icon kanbanHeaderIcon>check</mat-icon>
      <span>Column 2</span>
    </kanban-column-header>
    <kanban-card>Card 1</kanban-card>
    <kanban-card>Card 2</kanban-card>
    <kanban-card>Card 3</kanban-card>
  </kanban-column>
</kanban-board>
